<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>My landing page</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='style.css' rel='stylesheet'>
    
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id="banner">
      <div class="container-fluid">
        <div class="row">
          <div id="banner-corp" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <img src="images/photo-quentin.png" class="photo Quentin" width="150">
            <h1>Quentin Marbacher</h1>
            <p>"Étudiant en dernière année à Audencia business school, je souhaite intégrer une équipe multi-disciplinaire pour répondre à des problématiques d'entreprises en utilisant les méthodologies du design."</p>
            <a href="#" class="bouton">ME CONTACTER</a>
          </div>
        </div>
      </div>
    </div>
    <div id="parcours">
      <img src="images/parcours.png" class="mon parcours éducatif et professionnel" width="100%">
    </div>
    <div id="block1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2>MES SUJETS DE PRÉDILECTION</h2>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card">
              <img src="images/lightbulb2.png" alt="ampoule picto" width="100">
              <h3>INNOVATION</h3>
              <p>TEXTE À ÉCRIRE</p> <!-- Texte à modifier -->
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card">
              <img src="images/dessin2.png" alt="crayons picto" width="100">
              <h3>DESIGN</h3>
              <p>TEXTE À ÉCRIRE</p> <!-- Texte à modifier -->
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card">
              <img src="images/digital2.png" alt="iphoneX picto" width="100">
              <h3>DIGITAL</h3>
              <p>TEXTE À ÉCRIRE</p> <!-- Texte à modifier -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="block2">
      <div class="container">
        <div class="row">
          <div class="col-xs-2" id="block2-1">
              <img class="picto-quentin" src="images/Quentin-picto-demi.png" alt="Quentin picto1">
          </div>
          <div class="col-xs-10" id="block2-2">
            <div class="competences">
              <h3>Test 1</h3>
              <p>Lorem ipsum dolor est ... Je ne sais pas ce que je vais écrire ici mais ce sera sûrement super !</p>
              <div class="pictos">
                <img src="images/digital2.png">
                <img src="images/digital2.png">
                <img src="images/digital2.png">
              </div>
            </div>
            <div class="competences">
              <h3>Test 2</h3>
              <p>Lorem ipsum dolor est ... Je ne sais pas ce que je vais écrire ici mais ce sera sûrement super !</p>
              <div class="pictos">
                <img src="images/digital2.png">
                <img src="images/digital2.png">
                <img src="images/digital2.png">
              </div>
            </div>
            <div class="competences">
              <h3>Test 3</h3>
              <p>Lorem ipsum dolor est ... Je ne sais pas ce que je vais écrire ici mais ce sera sûrement super !</p>
              <div class="pictos">
                <img src="images/digital2.png">
                <img src="images/digital2.png">
                <img src="images/digital2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cta text-center">
      <h2>Maybe you need some inspiration</h2>
      <p>Type a word and try our solution</p>

      <form action="/search" method="get" class="form-inline">
        <input type="text" name="query" placeholder="Search dribbles..." class="form-control">
        <input type="submit" value="Search" class="btn btn-red">
      </form>
    </div>
    <div class="container-fluid" id="formulaire">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div id="gif">

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="wufoo-z17lurj01ezf8gv">
          Fill out my <a href="https://qmarba.wufoo.com/forms/z17lurj01ezf8gv">online form</a>.
          </div>
          <script type="text/javascript">var z17lurj01ezf8gv;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'qmarba',
          'formHash':'z17lurj01ezf8gv',
          'autoResize':true,
          'height':'551',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z17lurj01ezf8gv = new WufooForm();z17lurj01ezf8gv.initialize(options);z17lurj01ezf8gv.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>
       </div>
      </div>      
    </div>
  </div>


    <div id="footer">
      <p>This is a playground landing ©Le Wagon</p>
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>

    </div>
  </body>
</html>
